body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

    font-family: "Roboto Mono", monospace;
    font-size: 32px;
    font-weight: 300;
    text-align: center;

    background-color: #673AB7;
    overflow: hidden;
}

h1 {
    font-size: 12vmin;
    font-weight: 300;
    color: #00ACC1;
}

h1::before,
h1::after {
    content: "\"";
}

.unsupported {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;

    color: #FFEB3B;
    background-color: #111;
}
